-# Show possible friends

%ul
  -@friends_in_city.each do |friend|
    %li
      %h3= friend['name']
      %img{src: friend['picture']}
      .friends
        %ul
        -friend.friends.each do |f|
          %li
            %h1= f['name']
            %img{src: f['picture']}
          

