.wrapper
  #header
    .container
      .row
        %div{ :class => "twelve columns" }
          %h1 Hack N Jill
          %p{ :class => "tagline" }
            Cheryl Daniel Jesse 
  .container
    .row
      %div{ :class => "twelve columns", :id => "mainpage" }
        #heightwrap
          %h1 
            CURATE &amp; CONNECT YOUR FRIENDS
          %br
          .row
            %div{ :class => "seven columns righta" }
              %p
                %a{ :class => "large button", :id => "signup", :href => "/auth/facebook" }
                  %span{ :class => "fb_button_text" }
                    Let's start this party
            %div{ :class => "five columns lefta", :id => "lm" }
              %a{ :href => "#explain" }
                or learn more &raquo;
      .push
      %a{ :name => "explain" }
        .explain
          %p 
            In terry richardson viral dreamcatcher, ex trust fund marfa magna kogi scenester iphone exercitation lo-fi raw denim. Williamsburg reprehenderit deserunt irony vegan squid. Pitchfork etsy fap tempor occaecat kogi bespoke. Brunch lo-fi laboris, qui ea brooklyn photo booth. Brunch leggings wayfarers, sriracha assumenda semiotics eu dreamcatcher delectus sustainable odio. Art party nulla dolor echo park +1 id banh mi, fap selvage salvia cardigan umami pop-up incididunt. Retro swag officia 8-bit, laborum kale chips master cleanse mollit.
      #footer
        %div{ :class => "container righta" }
          %p
            %a{ :href => "http://hacknjill.com" }
              hack n' jill app by three 
              %a{ :href => "http://hackny.org/a/"}
                2012 hackNY fellows &bull; devs Jesse Pollak and Daniel Lobato
                &bull; design Cheryl Wu
      
      

        


