.wrapper
  .blkwrap
    #header
      .signin
        returning?
        %a{:href => "#"} sign in
      .container
        #logo.row
          .twelve.columns
            %a.tagline{:href => "../index.html"} andut
    .container
      .row
        #mainpage.twelve.columns
          #heightwrap
            %h2 THE PEOPLE AND PLACES YOU REALLY WANT TO SEE.
            %p.intro
              Visiting new cities is awesomer if you know a local. We have the awesomest locals of all: cool new friends, curated by your cool
              %em old
              friends.
            %br/
            .row
              .seven.columns.righta
                %p
                  %a#signup.large.button{:href => "/auth/facebook"} let's start this party
              #lm.five.columns.lefta
                %a{:href => "#explain"} or learn more »
        / this closes heightwrap and sticky
        %hr/
        .explain
          %a{:name => "explain"}  
          .row
            .four.columns
              %h1.aa Your cool friends know where it's at.
            .four.columns
              %h1.bb (Awesome) locals know where it's at.
            .four.columns
              %h1.cc Your cool friends know locals who know where it's at.
          .row
            .six.columns
              %h4 From New York to Los Angeles...
              %p When you visit a new city, Andut gives you a list of all of the friends that your friends have selected as awesome people. Travel into a whole new world, not the abyss. (Or tourist trap, for that matter.)
            .six.columns
              %h4 and Los Angeles to New York.
              %p
                Be a good guest and return the favor— choose 5 of
                %em your
                coolest friends. When one of your other friends visits their city, your friends will be recommended automatically. BOOM.
  #footer
    .container.righta
      %p
        a
        %a{:href => "http://hacknjill.com/"} hack n' jill app
        by three
        %a{:href => "http://hackny.org/a/"} 2012 hackNY fellows
        \• devs
        %a{:href => "https://twitter.com/#!/jessepollak"} Jesse Pollak
        and
        %a{:href => "https://twitter.com/#!/elobatoss"} Daniel Lobato
        \• design
        %a{:href => "https://twitter.com/#!/grungerabbit"} Cheryl Wu
