.wrapper
  .blkwrap
    #header
      .signin
        returning?
        %a{:href => "#"} sign in
      .container
        #logo.row
          .twelve.columns
            %a.tagline{:href => "../index.html"} andut
.wrap
  .container.main
    .overflow
      %h1.center Select 5 friends who really know their city and are genuinely awesome.
      #friend-picker
        .search.input
          %input.search-box.xlarge{:placeholder => "Search", :type => "text"}/
        .clear-both
          %ul.friends-list
          .clear-both 
.queue
  .picked
    %form{ :action => "/save", :method => "post" }
      .container
        %input.continue{:type => "submit", :value => "Confirm Friends", :class => "btn primary" }
  .add-to-queue
    .container
      %div.image
      %h2
        I think this person would be a great new friend in a big bad city!
      %button.btn.add-without-email Yes!
      %a.cancel{:href => "#"}
        Cancel