/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */
/* FOR HACKNJILL BY CHERYL WU YEAH BR000 */
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/*@font-face {
    font-family: 'LicketySplitMedium';
    src: url('http://blogservices.net/hackny/hnj/webfontkit/licketysplit-webfont.eot');
    src: url('http://blogservices.net/hackny/hnj/webfontkit/licketysplit-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://blogservices.net/hackny/hnj/webfontkit/licketysplit-webfont.woff') format('woff'),
         url('http://blogservices.net/hackny/hnj/webfontkit/licketysplit-webfont.ttf') format('truetype'),
         url('http://blogservices.net/hackny/hnj/webfontkit/licketysplit-webfont.svg#LicketySplitMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/* STICKY FOOTER
by Ryan Fait
http://ryanfait.com/
thxbr0
*/
* {
  margin: 0; }

html, body {
  height: 100%; }

.righta {
  text-align: right; }

.lefta {
  text-align: left; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -500px;
  /* the bottom margin is the negative value of the footer's height */ }

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  background: #050505 url(../images/custom/earth.jpg);
  color: black;
  font-size: 1.5em; }

h1, h2 {
  /*font-family: 'LicketySplitMedium', sans-serif;*/
  font-family: 'LicketySplitMedium', sans-serif; }

h1 {
  font-size: 3em;
  text-shadow: 1px 1px 200px #e0ded1; }

h2 {
  font-size: 2.5em;
  text-shadow: 1px 1px 200px #e0ded1; }

a {
  color: #b9e4d3; }
  a:hover {
    color: #3dc2bd; }

#header {
  height: 315px;
  padding: 0px 0 30px;
  background: url(../images/custom/hdr2.png) top center repeat-x; }
  #header .tagline {
    font: 1.5em "Lato", "helvetica", "arial", sans-serif;
    position: relative;
    top: 200px;
    left: 30px;
    padding: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    /* For IE8 and earlier */ }
  #header .signin {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #cf2025;
    padding: 10px 20px;
    box-shadow: -10px 10px black; }

#logo {
  background: url(../images/custom/andut.png) left top no-repeat;
  min-height: 300px; }

.blkwrap {
  background: rgba(140, 139, 133, 0.7);
  padding-bottom: 50px; }

#test {
  background: #a8a69d;
  text-align: left;
  min-height: 1000px; }

#footer {
  background: #cf2025; }
  #footer a {
    color: #a8a69d; }
    #footer a:hover {
      color: #e0ded1; }

/* -----------------------------------------
   #mainpage
----------------------------------------- */
#mainpage {
  text-align: center; }

#lm {
  font-size: 1.5em;
  padding: 10px 0; }

.button#signup {
  background-color: #ffdd00; }
  .button#signup:hover {
    box-shadow: 0px 0px 115px #a8a69d;
    background-color: #3dc2bd; }

.intro {
  font-size: 1em; }

.explain, .push {
  height: 500px;
  /* .push must be the same height as .footer */ }

.explain .row {
  padding-bottom: 50px; }
.explain h1 {
  text-shadow: 1px 1px 40px #a8a69d;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  letter-spacing: -2px;
  line-height: 1em; }
  .explain h1.aa {
    color: #3dc2bd; }
  .explain h1.bb {
    color: #b9e4d3; }
  .explain h1.cc {
    color: #e0ded1; }
.explain p {
  font-size: 1em; }

#heightwrap {
  height: 100%;
  padding: 20px 0 100px; }

.wrapper#vegas {
  background: url(http://www.usanewyork.org/wp-content/uploads/2012/02/new-york-city-central-park.jpg) no-repeat center center fixed; }

/* -----------------------------------------
   steptwo.html
----------------------------------------- */
#instruct p {
  font-size: 1.2em; }

#picker {
  background: #e0ded1; }
  #picker li {
    background: #e0ded1;
    float: left;
    width: 22%;
    margin: 5px;
    padding: 10px;
    min-height: 50px;
    line-height: 1em;
    font-size: 1em; }
    #picker li:hover {
      background: white; }
    #picker li img {
      float: left;
      padding: 0px 6px 0px 0px; }

.xlarge, .sobig {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 3em !important;
  background: #ffdd00;
  height: 50px;
  padding: 10px;
  border: none; }
  .xlarge:focus {
    background: white;
    box-shadow: 0px 0px 115px #a8a69d; }

/* -----------------------------------------
   
----------------------------------------- */
#chosen {
  background: #a8a69d; }
  #chosen p {
    font-size: 1.2em; }
  #chosen h1, #chosen h2, #chosen h3, #chosen h4, #chosen h5, #chosen h6 {
    font-family: 'Lato', sans-serif;
    font-style: normal; }

#chosen ul {
  padding: 10px 0; }
#chosen li {
  background: #e0ded1;
  float: left;
  width: 500px;
  margin: 5px;
  padding: 10px;
  min-height: 50px;
  line-height: 1em;
  font-size: 1em;
  margin-left: 15px; }
  #chosen li.yourfriend {
    background: #3dc2bd; }
  #chosen li:hover {
    background: white; }
  #chosen li img {
    float: left;
    padding: 0px 6px 0px 0px; }
  #chosen li h1, #chosen li h2, #chosen li h3, #chosen li h4, #chosen li h5, #chosen li h6 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    float: right; }

#finished {
  background: #e0ded1; }
